html,
body {
  margin: 0%;
  font-size: 62.5%;

  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: grey;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-family: "poppins";
  font-size: 5.2rem;
}

h3 {
  font-family: "ubuntu";
  font-size: 3rem;
}

/* --------------- navbar --------------- */
.nav {
  background: white;
  padding: 0.5rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 0.9s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 95%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 3.5rem 0;
}

.nav .toggle-collapse .toggle-icon i {
  font-size: 2rem;
  color: grey;
}

.collapse {
  height: 50rem;
}

.nav .nav-brand a {
  font-size: 2rem;
  padding: 3rem 0;
  display: block;
  font-family: poppins;
}

.nav .nav-list {
  /* margin: 0; */
  padding: 0 0;
  display: flex;
  list-style-type: none;
}

.nav .nav-list .nav-link {
  padding: 3rem 1rem;
  font-size: 1.6rem;
  position: relative;
  font-family: ubuntu;
}

.nav .nav-list .nav-link:hover {
  background-color: sandybrown;
}

.nav .nav-list .nav-link:hover a {
  color: white;
}

.nav .social {
  padding: 3.8rem 0;
}

.nav .social i {
  padding: 0 0.3rem;
}

.nav .social .fa-facebook-f:hover {
  color: #3b5998;
}

.nav .social .fa-instagram:hover {
  color: purple;
}

.nav .social .fa-twitter:hover {
  color: #00acee;
}

.nav .social .fa-youtube:hover {
  color: #ff0000;
}

/* ----x---------- navbar ---------x----- */

/* ------------ Main Content ------------ */

/* ----- Site Title ----- */
main .site-title {
  background: url("../images/Jewel.png");
  background-size: cover;
  height: 65vh;
  width: auto;
  display: flex;
  justify-content: center;
}

main .site-title h1,
h3 {
  margin: 0.4rem;
}

main .site-title .btn {
  margin: 1.5rem;
  background: white;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
  padding: 1.4rem 2.6rem;
}

main .site-title .site-background {
  padding-top: 20rem;
  text-align: center;
  color: white;
}

/* -x--- Site Title ---x- */

/* ---- Article Carousel ---- */

/* -x-- Article Carousel --x- */

/* ----x------- Main Content -------x---- */

/*    Viewport less than or equal to 750px    */

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-list {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}

/* x  Viewport less than or equal to 750px   x */
